:root {
  --bright-yellow: #FEF809;
}

::highlight(hili-highlight) {
  color: black;
  background-color: var(--bright-yellow);
}

::highlight(hili-censored) {
  color: transparent;
  background-color: transparent;
}

mark#hili {
  background: unset !important;
  background-color: unset !important;
}
