body {
  min-width: 420px;
  display: flex;
  flex-direction: column;
}

h1#hili-heading {
  font-size: medium;
}

form#mode {
  display: inline;
  float: right;
}

#keywords {
  min-height: 200px;
}

#ignoreUrls {
  min-height: 200px;
}
