body {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hili-heading {
  font-size: medium;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#hili-heading h1 {
  flex: 1;
}

#highlighted,
#censored {
  min-height: 150px;
}

#ignoreUrls {
  min-height: 100px;
}
