* {
  box-sizing: border-box;
  border-color: var(--border-color);
}

body {
  min-width: var(--popup-min-width);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
}

#hili-heading {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  font-size: x-large;
}

#hili-heading h1 {
  flex: 1;
}

#highlighted,
#censored {
  width: 100%;
  min-height: var(--pattern-input-min-height);
}

#ignoreUrls {
  min-height: var(--ignore-urls-min-height);
}
